# Node/Next
node_modules/
.next/
out/
dist/
coverage/

# Env/секреты
.env
.env.*
*.local

# Prisma/SQLite (не пушим локальную БД)
prisma/dev.db
dev.db
*.sqlite
*.sqlite-journal

# кэш/IDE
.vscode/
.DS_Store
Thumbs.db
